.container-CONTENT-A {
    display: flex;

    .content-1, .content-2 {
        display: flex;

        img {
            display: flex;
            width: 100%;
            height: auto;
        }
    }

    .content-1 {
        flex-direction: column;
        //padding: 10px 0px;

        h2 {
            display: flex;

            text-align: center;
            margin: 10px 0px;
        }

        p {
            display: flex;
        }

        .button {
            display: flex;
            text-align: center;

            margin: 10px 0px;
            padding: 10px 0px;
            border: 1px solid #222222;
            
        }
    }
}

// --MEDIA QUERIES-- //
@media (max-width: 2000px) {

    .container-CONTENT-A {
        justify-content: space-between;
    }
    .content-1, .content-2 {
        width: 45%;
    }
    
    .content-1 {
        justify-content: center;

        .button {
            width: 50%;
            justify-content: center;
        }
    }
    
}

@media (max-width: 500px) {

    .container-CONTENT-A {
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .content-1, .content-2 {
        width: 100%;
    }

    .content-1 {

        .button {
            width: 100%;
        }
    }

}