.container-CONTENT-B {
    display: flex;
    flex-direction: column;

    h2 {
        margin: 50px 0px 50px 0px;
    }
}
.B-content {
    display: flex;
    flex-direction: column;

    .Bsub-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        margin-bottom: 50px;
    
        img {
            width: 100%;
        }
        
        .imgTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            
            // height: 50px;
    
            background-color: #D8D8D8;
        } 
    }

    .Bsub-text {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 2000px) {
    .Bsub-img {
        position: relative;

        .imgTitle {
            font-size: x-large;
            height: 70px;

            bottom: -30px;
            right: 0px;
            width: 33%;
        }

        .reversed {
            left: 0px;
        }
    }  

    .Bsub-text {
        margin-bottom: 50px;
        p {
            width: 50%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 500px) {
    .imgTitle, .reversed {
        width: 50%;
        margin: 0 auto;
    }

    // .Bsub-img {
    //     // .imgTitle, .imgTitle.reversed {
    //     //     height: 90px;

    //     //     bottom: -35px;
    //     //     width: 90%; 
    //     //     margin: 0 auto;

    //     //     // .reversed {
    //     //     //     bottom: -20px;
    //     //     //     left: 0px;
    //     //     // }
    //     }
    // }

    // .Bsub-text {
    //     p {
    //         width: 90%;
    //     }
    // }
}



