.container-NAV {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: auto;
    padding: 0px 15px;

    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    background-color: #828282;

    .nav-contentLeft {
        h2 {
            color: #ffffff;
        }
    }

    .nav-contentRight {
        display: flex;
        align-items: center;
    }

}