
.container-NAV {
    display: flex;

    .nav {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        // height: auto;

        font-weight: bold;
        font-size: 64px;
        line-height: 75px;
        background-color: #828282;

        .nav-contentLeft {
            h2 {
                color: #ffffff;
            }
        }

        .nav-contentRight {
            display: flex;
            align-items: center;
        }
    }
    
}

.showFULLmenu {
    background-color: #828282;
    height: 100vh;
    align-items: flex-start;
}

// -- MEDIA QUERIES -- //
@media (max-width: 2000px) {
    .nav {
        padding: 0px 70px;
    }
}

@media (max-width: 500px) {
    .nav {
        padding: 0px 15px;
    }
}