
.container-servicesINTRO {
    margin-top: 40px;
}

.container-servicesBUTTONS {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

    .button {
        padding: 10px;
        border: 1px solid black;
    }
}

.container-servicesContent {
    display: flex;
    flex-direction: row;
    
    .content {
        display: none;
        flex-grow: 1;
        justify-content: space-between;
        align-items: space-between;

        .contentText {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        img {
            display: flex;
        }
    }

    .content[data-option='1'] {
        display: flex;
        // background-color: orange;
    }
}


// -- MEDIA QUERIES -- //
@media (max-width: 2000px) {

}


@media (max-width: 500px) {
    .container-servicesBUTTONS {
        display: flex;
        flex-direction: column;
        .button {
            margin-bottom: 15px;
        }
    }

    .servicesContentA {
        flex-direction: column;
    }
}